<app-header>
  <p levels>Editing craft stats</p>
  <div content>
    <p>{{craft.name}}</p>
  </div>
</app-header>
<p class="data-header">{{craft.name}} </p>
<div class="data-container">
  <div class="row">
    <div class="col-md-6">
      <table>
        <tr>
          <td><img width="200" height="150" src="http://51.91.157.25:8010/v1/craft/images/{{craft.jpg0}}" alt="craft"></td>
          <td><img width="200" height="150" src="http://51.91.157.25:8010/v1/craft/images/{{craft.jpg1}}" alt="craft"></td>
          <td><img width="200" height="150" src="http://51.91.157.25:8010/v1/craft/images/{{craft.jpg2}}" alt="craft"></td>
          <td><img width="200" height="150" src="http://51.91.157.25:8010/v1/craft/images/{{craft.jpg3}}" alt="craft"></td>
        </tr>
      </table>
    </div>
  </div>
  <form [formGroup]="craftForm">
    <div class="row form-group">
      <div class="col-md-4">
        <label>Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="name">
        <p *ngIf="!craftForm.get('name').valid && craftForm.get('name').dirty" class="error">This field is required</p>
      </div>
      <div class="col-md-4">
        <label>Max speed</label>
        <input formControlName="maxSpeed" type="text" class="form-control" placeholder="maxspeed">
        <p *ngIf="!craftForm.get('maxSpeed').valid && craftForm.get('maxSpeed').dirty" class="error">This field is
          required</p>
      </div>
      <div class="col-md-4">
        <label>Acceleration</label>
        <input formControlName="acceleration" type="text" class="form-control" placeholder="acceleration">
        <p *ngIf="!craftForm.get('acceleration').valid && craftForm.get('acceleration').dirty" class="error">This field is required</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Fuel Capacity</label>
        <input formControlName="fuelCapacity" type="text" class="form-control" placeholder="fuelCapacity">
        <p *ngIf="!craftForm.get('fuelCapacity').valid && craftForm.get('fuelCapacity').dirty" class="error">This field is
          required</p>
      </div>
      <div class="col-md-4">
        <label>Damage Capacity</label>
        <input formControlName="damageCapacity" type="text" class="form-control" placeholder="damageCapacity">
        <p *ngIf="!craftForm.get('damageCapacity').valid && craftForm.get('damageCapacity').dirty" class="error">This field
          is required</p>
      </div>
      <div class="col-md-4">
        <label>Cargo space</label>
        <input formControlName="cargoSpace" type="text" class="form-control" placeholder="cargoSpace">
        <p *ngIf="!craftForm.get('cargoSpace').valid && craftForm.get('cargoSpace').dirty" class="error">This
          field is required</p>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <label>Hwp Capacity</label>
        <input formControlName="hwpCapacity" type="text" class="form-control" placeholder="hwpCapacity">
        <p *ngIf="!craftForm.get('hwpCapacity').valid && craftForm.get('hwpCapacity').dirty" class="error">This
          field is required</p>
      </div>
      <div class="col-md-4">
        <label>Weapon Pods</label>
        <input formControlName="weaponPods" type="text" class="form-control" placeholder="weaponPods">
        <p *ngIf="!craftForm.get('weaponPods').valid && craftForm.get('weaponPods').dirty" class="error">This field is
          required</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button [disabled]="craftForm.invalid" (click)="updateCraft()" type="submit" class="btn btn-primary float-right">
          Edit craft
        </button>
        <button (click)="craftForm.reset()" class="btn btn-default float-right">Reset</button>
      </div>
    </div>
  </form>
  <!--<pre> {{craftForm.value | json}}</pre>-->
  <!--<pre> stan walidacji name: {{craftForm.get('name').valid | json}}</pre>-->
  <!--<pre> stan walidacji max speed: {{craftForm.get('maxSpeed').valid | json}}</pre>-->
  <!--<pre> stan walidacji acceleration: {{craftForm.get('acceleration').valid | json}}</pre>-->
  <!--<pre> stan walidacji fuel capacity {{craftForm.get('fuelCapacity').valid | json}}</pre>-->
  <!--<pre> stan walidacji damage capacity: {{craftForm.get('damageCapacity').valid | json}}</pre>-->
  <!--<pre> stan walidacji cargo space: {{craftForm.get('cargoSpace').valid | json}}</pre>-->
  <!--<pre> stan walidacji hwp capacity: {{craftForm.get('hwpCapacity').valid | json}}</pre>-->
  <!--<pre> stan walidacji weapon pods: {{craftForm.get('weaponPods').valid | json}}</pre>-->
</div>

